@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --blue: #bcf1f1;
    --aquamarine:#112b22;
    --lightGreen:#91F291;
    --green:#C2F261;
    --yellowGreen:#F2F230;
    --black:rgb(23, 24, 23);
} 

html{
 font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    background-color:var(--aquamarine);
    gap: 2rem; 
}

#footer {
    margin-top: auto;
    text-align: center;
    padding: 0.5rem;
    color: var(--yellowGreen);
}

#navbar {
    text-align: center;
    padding: 0.5rem;
    color: var(--yellowGreen);
    font-size: 2rem;
}

#numberInput {
    color: var(--white);
    width: 100%;
    text-align: right;
    overflow-x: auto;
}



#inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--green);
}

#grid {
    display: grid;
    grid-template-rows: 7em repeat(5, 4em);
    grid-template-columns: repeat(4 , 6.5em);
    gap: 1rem;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
}

.grid-item {
    background-color: var(--aquamarine);
    color: var(--blue);
    border: none;
    border-radius: 8px;
    box-shadow:0 0 16px 6px rgba(3, 2, 2, 0.06);
}

.black {
    background-color: var(--black);
}

.dark-grey {
    background-color: var(--black);
    color: var(--lightGreen);
}

.yellow-green {
    background-color: var(--yellowGreen);
    color: var(--black);
}

.font-S {
    font-size: 1rem;
}

.font-M {
    font-size: 1.5rem;
}

.font-L {
    font-size: 2rem;
}

.grid-span-4 {
    grid-column: span 4;
}

.grid-span-2 {
    grid-column: span 2;
}

.grid-span-2-row {
    grid-row: span 2;
}

.grey-border {
    border: var(--darkWhite) 1px solid;
    border-radius: 8px;
}

.faded {
    color: var(--grey);
    text-align: right;
}

::-webkit-scrollbar {
display: none;
}

.focus {
    border: var(--yellowGreen) 2px solid;
    box-shadow:0 0 15px 4px rgba(233, 247, 49, 0.06);
}
